html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  user-select: none;
}

/*
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden; 
}

#app {
  width: 100%;
  min-height: 100%;
}
*/