* {
  margin: 0;
  padding: 0;
  user-select: none;
}

:root {
  --el-color-primary: #80deea;
  --el-color-primary-light-3: #a7e9f2 !important;
  --el-color-primary-light-5: #c7f1f7 !important;
  --el-color-primary-light-7: #e0f8fb !important;
  --el-color-primary-light-8: #ebfafc !important;
  --el-color-primary-light-9: #f5fdfe !important;
  --el-color-primary-dark-2: #4dd0e1 !important;
}